@import '../../../styles/helvetica/dark-vars.scss';

.wrapper {
  position: relative;
}

.selector {
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition:
    opacity 0.2s,
    translate 0.2s;

  @starting-style {
    opacity: 0;
    translate: 0 -1em;
  }

  :global(.dark-theme) & {
    background-color: $bg-color-lighter;
    border: 1px solid $bg-color-lightest;
  }
}

.selector mark {
  padding: 0;
  font-weight: bold;
  background-color: transparent;

  :global(.dark-theme) & {
    color: $text-color-lighter;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  padding: 0.5em;
  cursor: pointer;
  display: flex;
  gap: 0.5em;
}

.itemCurrent,
.item:hover {
  background-color: #eee;

  :global(.dark-theme) & {
    background-color: $bg-highlight-color;
  }
}

.itemImage {
  flex: none;
}

.itemText {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.itemLink {
  flex: none;
  color: currentColor;
  opacity: 0.5;
  font-size: 0.8em;
  width: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemLinkIconLocal {
  transform: rotate(45deg);
}

.screenName {
  margin-left: 0.5em;
  color: #999;
}

.groupIcon {
  color: #aaa;
  margin-right: 0.4em;
}
