body {
  background: #FFF;
  overflow-anchor: none;
}

body.transition-active:before {
  position: fixed;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.8;
  z-index: 1;
  background:
    #fff
    url('/img/throbber.gif')
    no-repeat
    center;
}

body.transition-active.transition-static:before {
  background-color: transparent;
  opacity: 1;
}

div.jsonly>p {
  padding-left: 2px;
}

@media (min-width: 1200px) {
  .container {
    width: 970px !important;
  }
}

a, a:hover, a:focus {
  cursor: pointer;
  color: #000088;
}

.settings-error {
  margin-left: 180px;
}

.settings-error {
  max-width: 174px;
}


.header-row{
  margin-bottom: 10px;
}

.footer {
  font-size: 14px;
  margin-bottom: 20px;
  margin-left: 10px;
  @media (max-width: 991px){ margin-left: 0; }
}

.error-string {
  color: #FF5A5F;
}

.throbber-image {
  vertical-align: middle;
}