.box {
  margin-bottom: 23px;
  border: 0;
  border-radius: 8px;
}

// --- Block headers ---
.box-header {
  line-height: 28px;
  height: 28px;
  border-bottom: 2px black solid;
  color: #000;
}

// User profile, group profile
.box-header-empty {
  @extend .box-header;
  background-color: #fff;
}

// Timeline header
.box-header-timeline {
  @extend .box-header;
  font-size: 170%;
  font-weight: 700;
  margin-bottom: 7px;
  margin-left: 10px;
  @media (max-width: 991px) {
    margin-left: 0;
  }
  padding-bottom: 2px;

  .sidelinks {
    float: right;
    font-size: 14px;
    font-weight: normal;
    line-height: 28px;

    @media (max-width: 512px) {
      text-transform: capitalize;

      span {
        display: none;
      }
    }
  }

  small {
    font-size: 14px;
    font-weight: normal;
    color: #999;
    vertical-align: middle;
  }
}

.box-message {
  margin: 0 0 5px 10px;
  @media (max-width: 991px) {
    margin-left: 0;
  }
  padding: 5px 10px;
}

// Sidebar Friend block header
.box-header-friends {
  @extend .box-header;
  font-weight: bold;
  font-size: 15px;
}

// Sidebar Group block header
.box-header-groups {
  @extend .box-header;
  font-weight: bold;
  font-size: 15px;
}

// Sidebar Group block: additional info in header
.box-header-info {
  line-height: 28px;
  padding-top: 3px;
  float: right;
  font-size: 12px;
}

// Sidebar FreeFeed block header
.box-header-freefeed {
  @extend .box-header;
  font-weight: bold;
  font-size: 15px;
}

.box-header-memories {
  @extend .box-header;
  font-weight: bold;
  font-size: 15px;
}

// Content and footer
.content {
  .box-body {
    padding: 0 0 0 11px;
    @media (max-width: 991px) {
      padding: 0 0 0 0;
    }
    background-color: #fff;
    @include clearfix;
  }
  .box-footer {
    padding: 5px 0 5px 11px;
    @media (max-width: 991px) {
      padding: 15px 0 0 0;
    }
    font-size: 11px;
    background-color: #fff;
  }
}

.sidebar {
  .box-body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    padding: 10px 0 3px 0;
    background-color: #fff;
    a {
      color: #0000cc;
      text-decoration: none;
    }
    @include clearfix;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding-bottom: 3px;
        white-space: nowrap;
        @include clearfix;
        a {
          color: #000;
          font-size: 15px;
        }
      }
    }

    .year-links-row {
      a {
        color: #000;
        font-size: 13px;
        &:after {
          content: '•';
          display: inline-block;
          width: 7px;
          text-align: center;
        }
        &:last-child:after {
          content: '';
          width: 0;
        }
      }
    }
    .updated-ago {
      display: block;
      font-size: 11px;
    }

    .pinned {
      .updated-ago:after {
        content: ' (pinned)';
      }

      + :not(.pinned) {
        border-top: 1px solid #eee;
        margin-top: 8px;
        padding-top: 7px;
      }
    }
  }
  .box-footer {
    padding: 5px 0 10px 0;
    font-size: 11px;
    a {
      color: #000;
    }
  }
}

.with-label--new::after {
  content: 'NEW';
  background-color: #f9cb16;
  color: white;
  display: inline-block;
  font-size: 10px;
  padding: 0 3px;
  vertical-align: 1px;
  margin-left: 0.5em;
}

.p-home--aux {
  margin-left: 1em;
}
