@use 'sass:color';
@use 'dark-vars.scss';

body,
.sidebar .box-body,
.search-form .search-button,
.search-form .search-input,
.content .box-body,
.content .box-footer {
  transition: background 0.2s;
}

.dark-theme {
  body,
  .sidebar .box-body,
  .search-form .search-button,
  .search-form .search-input,
  .content .box-body,
  .content .box-footer,
  .list-group-item,
  .panel {
    background-color: dark-vars.$bg-color;
  }

  .sidebar a.bookmarklet-button,
  select[name='os0'],
  .color-scheme-selector select,
  .search-memo,
  .feed-options-switch .dropdown,
  .loader-container .loader-overlay,
  .breadcrumb {
    background-color: dark-vars.$bg-color-lighter;
  }

  .arrow-span {
    background-color: dark-vars.$bg-color-lightest;
  }

  code {
    color: dark-vars.$text-color-lighter;
    background-color: dark-vars.$bg-color-lightest;
  }

  .timeline-post.direct-post {
    border-bottom-color: dark-vars.$bg-color-lighter;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 48 48'><path fill='%23505050' d='M40 8H8c-2.21 0-3.98 1.79-3.98 4L4 36c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4V12c0-2.21-1.79-4-4-4zm0 8L24 26 8 16v-4l16 10 16-10v4z'/></svg>");
  }

  .image-attachments .image-attachment-link,
  .avatar img,
  select[name='os0'],
  .feed-options-switch .dropdown,
  .list-group-item,
  .panel-default,
  .hidden-posts-toggle,
  hr {
    border-color: dark-vars.$separator-color;
  }

  body,
  legend,
  .post .post-body .post-text,
  .post .post-body,
  .box-header,
  .box-header-empty,
  .box-header-timeline,
  .box-header-friends,
  .box-header-groups,
  .box-header-freefeed,
  .box-header-memories,
  .site-logo-link,
  .site-logo-link:active,
  .site-logo-link:focus,
  .site-logo-link:hover,
  .site-logo-link:visited,
  .sidebar .box-body ul li a,
  .sidebar .box-footer a,
  .sidebar a,
  .sidebar .box-body .year-links-row a,
  .profile .description,
  ul.tile-list li .user-name-wrapper > a,
  ul.tile-list li .avatar > a {
    color: dark-vars.$text-color;
  }

  .sidebar,
  .post-editor .post-edit-options .post-edit-more-trigger,
  .comment-likes .comment-count,
  .post .post-body .post-footer .post-timestamp,
  .post-footer,
  .text-muted,
  .post .comment-timestamp a,
  .breadcrumb > .active {
    color: dark-vars.$text-color-darker;
  }

  .profile,
  .profile-controls,
  .post,
  .box-header,
  .box-header-empty,
  .box-header-timeline,
  .box-header-friends,
  .box-header-groups,
  .box-header-freefeed,
  .box-header-memories,
  .search-form .search-input,
  .create-post {
    border-bottom-color: dark-vars.$separator-color;
  }

  .feed-comment-dot::after {
    background-color: dark-vars.$text-color-darker;
  }

  a,
  a:hover,
  a:focus,
  .post .post-header a,
  .post .post-body .post-text a {
    color: dark-vars.$link-color;
  }

  .pager li > a:hover,
  .pager li > a:focus {
    color: dark-vars.$link-color;
    background-color: dark-vars.$bg-color-lightest;
  }

  .post .read-more {
    color: dark-vars.$link-color !important;
  }

  .btn-link {
    color: dark-vars.$link-color;
  }

  .post a,
  .image-attachments .show-more {
    color: dark-vars.$link-color-dim;
  }

  .link-preview .folder-container .content-wrapper.folded::after {
    background: linear-gradient(
      color.scale(dark-vars.$bg-color, $alpha: -100%) 0%,
      color.scale(dark-vars.$bg-color, $alpha: -80%) 25%,
      color.scale(dark-vars.$bg-color, $alpha: -20%) 75%,
      dark-vars.$bg-color
    );
  }

  .timeline-post.direct-post .link-preview .folder-container .content-wrapper.folded::after {
    background: linear-gradient(
      color.scale(dark-vars.$bg-color-lighter, $alpha: -100%) 0%,
      color.scale(dark-vars.$bg-color-lighter, $alpha: -80%) 25%,
      color.scale(dark-vars.$bg-color-lighter, $alpha: -20%) 75%,
      dark-vars.$bg-color-lighter
    );
  }

  .post-editor .post-textarea,
  .comment .comment-textarea,
  .form-control {
    background: dark-vars.$bg-color-lighter;
    border: 1px solid dark-vars.$separator-color;
    color: dark-vars.$text-color;
  }

  .comment .comment-textarea__dragged {
    background: dark-vars.$bg-color-lightest;
  }

  .btn-default {
    color: dark-vars.$text-color;
    background: dark-vars.$bg-color-lightest;
    border-color: dark-vars.$separator-color;

    &:disabled {
      color: dark-vars.$text-color-darker;
    }
  }

  .btn-default:hover,
  .btn-default:focus,
  .btn-default.focus,
  .btn-default:active,
  .btn-default.active,
  .open > .btn-default.dropdown-toggle {
    color: dark-vars.$text-color-lighter;
    background: dark-vars.$bg-color-lightest;
    border-color: dark-vars.$text-color-lighter;
  }

  .btn-primary,
  .btn-primary:hover {
    color: #fff;
  }

  .alert-info {
    color: dark-vars.$text-color-lighter;
    background: dark-vars.$bg-highlight-color;
    border-color: dark-vars.$bg-highlight-color;
  }

  .search-highlight,
  .feed-options-switch .dropdown .drop-option:hover {
    color: dark-vars.$text-color-lighter;
    background-color: dark-vars.$bg-highlight-color;
  }

  .feed-options-switch .dropdown .spacer {
    background-color: dark-vars.$separator-color;
  }

  .feed-options-switch .dropdown {
    color: dark-vars.$text-color-lighter;
  }

  .user-card {
    background-color: dark-vars.$bg-color-lighter;
    color: dark-vars.$text-color;

    .user-card-info {
      background-color: inherit;
      color: inherit;

      .names {
        .display-name {
          color: dark-vars.$link-color;
        }

        .username {
          color: dark-vars.$text-color;
        }
      }

      .description {
        color: dark-vars.$text-color;
      }

      .relationship-status {
        color: dark-vars.$text-color;
      }

      .feed-status {
        color: dark-vars.$text-color;
      }
    }

    .user-card-actions {
      border-top-color: dark-vars.$bg-color-lightest;
      background-color: dark-vars.$bg-color-lightest;
      color: dark-vars.$text-color;

      a {
        color: dark-vars.$link-color !important;
      }

      &.user-card-errors {
        color: dark-vars.$text-color-lighter;
        background-color: dark-vars.$bg-highlight-color;
      }
    }
  }

  // Select-control

  .Select-control {
    background-color: dark-vars.$bg-color-lighter;
    border-color: dark-vars.$separator-color;

    .is-open > & {
      background-color: dark-vars.$bg-color-lighter;
      border-color: dark-vars.$text-color-darker;
    }
  }

  .Select-placeholder,
  :not(.Select--multi) > .Select-control .Select-value {
    color: dark-vars.$text-color-darker;
  }

  .Select--multi .Select-value,
  .Select-value-label-standalone {
    color: dark-vars.$text-color;
    background-color: dark-vars.$bg-color-lightest;
    border-color: dark-vars.$text-color-darker;
  }

  .Select--multi .Select-value-icon {
    border-color: dark-vars.$text-color-darker;
  }

  .Select--multi .Select-value-icon:hover,
  .Select--multi .Select-value-icon:focus {
    background-color: dark-vars.$bg-color-lightest;
    color: dark-vars.$text-color-lighter;
  }

  .Select-menu-outer {
    background-color: dark-vars.$bg-color-lighter;
    border-color: dark-vars.$separator-color;
  }

  .Select-input > input,
  .Select-option {
    color: dark-vars.$text-color;
  }

  .Select-option.is-focused {
    background-color: dark-vars.$bg-highlight-color;
    color: dark-vars.$text-color-lighter;
  }

  // end of Select-control

  .post-likes .icon,
  .comment-likes .icon {
    opacity: 0.9;
  }

  .link-preview .video-preview .static-preview .play-icon {
    color: dark-vars.$text-color;
  }

  .nsfw-bar {
    color: dark-vars.$text-color-darker;
  }

  .comment-likes-list {
    background-color: dark-vars.$bg-color-lighter;
    border-color: dark-vars.$separator-color;
  }

  .image-attachments .attachment .remove-attachment {
    background-color: dark-vars.$bg-color-lightest;
    color: dark-vars.$text-color;
  }

  .panel-default > .panel-heading {
    background-color: dark-vars.$bg-color-lighter;
    border-color: dark-vars.$separator-color;
    color: dark-vars.$text-color;
  }

  .actions-overlay {
    background-color: color.scale(dark-vars.$bg-color, $alpha: -40%);
  }

  .actions-panel {
    background-color: dark-vars.$bg-color-lighter;
    color: dark-vars.$text-color-lighter;

    .mention-actions,
    .mention-action {
      background-color: dark-vars.$bg-color-lighter;
    }

    .likes-panel {
      background-color: dark-vars.$bg-color-lightest;
    }
  }

  .audio-attachments audio {
    filter: invert(1) contrast(70%) hue-rotate(180deg);
  }

  .alert-success {
    background-color: color.mix(dark-vars.$bg-color, #dff0d8, 75%);
    border-color: color.mix(dark-vars.$separator-color, #d6e9c6, 75%);
    color: color.mix(dark-vars.$text-color, #3c763d, 75%);
  }

  .with-label--new::after {
    background-color: dark-vars.$label-bg-color;
    color: dark-vars.$label-text-color;
  }

  .recently-hidden-post .recently-hidden-post__close:hover {
    background-color: dark-vars.$bg-color-lighter;
  }

  .pagination > li > a,
  .pagination > li > span {
    color: dark-vars.$text-color;
    background-color: dark-vars.$bg-color;
    border-color: dark-vars.$text-color-darker;
  }

  .pagination > .active > a,
  .pagination > .active > a:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span,
  .pagination > .active > span:hover,
  .pagination > .active > span:focus {
    color: dark-vars.$text-color-lighter;
    background-color: dark-vars.$bg-highlight-color;
    border-color: dark-vars.$bg-highlight-color;
  }

  .nav > li > a:hover,
  .nav > li > a:focus {
    background-color: dark-vars.$bg-color-lighter;
  }

  .nav-tabs > li > a:hover {
    border-color: dark-vars.$bg-color-lighter dark-vars.$bg-color-lighter dark-vars.$separator-color;
  }

  .nav-tabs {
    border-bottom-color: dark-vars.$separator-color;
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    color: dark-vars.$text-color;
    background-color: dark-vars.$bg-color;
    border-color: dark-vars.$separator-color;
    border-bottom-color: transparent;
  }

  @supports (-webkit-overflow-scrolling: touch) {
    // Do not override 'select' color on mobile iOS devices
    // See https://stackoverflow.com/a/47818418
    select {
      color: initial !important;
    }
  }

  .subscriptions-request-alert {
    border: 1px solid dark-vars.$text-color;
    color: dark-vars.$text-color;
    background-color: dark-vars.$bg-color-lighter;
  }

  blockquote {
    border-left-color: dark-vars.$bg-color-lightest;
  }
}
