a:focus {
  outline: auto;
  outline-color: Highlight;
  outline-color: -webkit-focus-ring-color;
}

a:focus:not(:focus-visible) {
  outline: none;
}

a:focus-visible {
  outline: auto;
  outline-offset: 2px;
  outline-color: Highlight;
  outline-color: -webkit-focus-ring-color;
}
