// Header

header {}

.site-logo {
  @media (max-width: 767px) { font-size: 30px; }
  @media (min-width: 768px) { margin-bottom: 20px; }
  @media (min-width: 992px) { margin-left: 10px; }
}

.site-logo-link {
  color: #222;
  text-decoration: none;
}

.mobile-shortcuts {
  @media (min-width: 768px) { margin-top: 34px; }
  @media (max-width: 400px) { display: flex; justify-content: space-between; }
  margin-top: 10px;
}

.mobile-shortcut-link {
  margin-right: 30px;
  @media (max-width: 400px) { margin-right: 0; }
}

.signin-link {
  @media (max-width: 767px) { margin-top: 30px; }
  @media (min-width: 768px) { margin-top: 34px; }
}