// Header

header {
  h1 {
    @media (max-width: 767px) { font-size: 30px; }
    @media (min-width: 768px) { margin-bottom: 20px; }
    @media (min-width: 992px) { margin-left: 10px; }

    a {
      color: #222;
      text-decoration: none;

      &:active, &:focus, &:hover, &:visited {
        color: #222;
        text-decoration: none;
      }
    }
  }

  .mobile-shortcuts {
    display: none;
    @media (min-width: 768px) { margin-top: 34px; }
    @media (max-width: 991px) { display: block; }

    margin: 10px 0 20px 0;

    a {
      margin-right: 30px;
    }
  }

  .signin-link {
    @media (max-width: 767px) { margin-top: 30px; }
    @media (min-width: 768px) { margin-top: 34px; }
  }
}