// Header

header {
}

.site-logo {
  @media (max-width: 767px) {
    font-size: 30px;
  }
  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media (min-width: 992px) {
    margin-left: 10px;
  }
}

.site-logo-link {
  color: #222;
  text-decoration: none;
  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: #222;
    text-decoration: none;
  }
}

.mobile-shortcuts {
  @media (min-width: 768px) {
    margin-top: 34px;
  }
  @media (max-width: 400px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  margin-top: 10px;
}

.mobile-shortcut-link {
  margin-right: 30px;
  @media (max-width: 400px) {
    margin-right: 0;
  }
}

.signin-link {
  @media (max-width: 767px) {
    margin-top: 30px;
  }
  @media (min-width: 768px) {
    margin-top: 34px;
  }
}

// This is effectively inline version of <h3>, because we cannot use the latter inside of <p>
.inline-header {
  font-size: 24px;
  margin: 0 3px;
  white-space: nowrap;

  &.line-start {
    margin-left: 0;
  }

  @media (max-width: 767px) {
    font-size: 20px;
  }
}
