.sidebar {

  a {
    color: #000;
  }

  a.bookmarklet-button {
    color: #000;
    background-color: #ddd;
    border-radius: 4px;
    padding: 3px 6px;
    margin: 0;// -3px;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      color: #fff;
      background-color: #333;
      text-decoration: none;
    }
  }

  .logged-in {
    margin-bottom: 23px;

    .avatar {
      float: left;
      margin-right: 8px;
    }

    .user .author a {
      font-weight: 600;
    }
  }
}