.sidebar {

  a{
    color: #000;
  }

  .logged-in {
    margin-bottom: 23px;

    .avatar {
      float: left;
      margin-right: 8px;
    }

    .user .author a {
      font-weight: 600;
    }
  }
}