.sidebar {
  a {
    color: #000;
  }

  a.bookmarklet-button {
    color: #000;
    background-color: #ddd;
    border-radius: 4px;
    padding: 3px 6px;
    margin: 0;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      color: #fff;
      background-color: #333;
      text-decoration: none;
    }
  }

  .logged-in {
    margin-bottom: 23px;

    .avatar {
      float: left;
      margin-right: 8px;
    }

    .user .author a {
      font-weight: 600;
    }
  }

  .color-scheme-hint {
    font-size: 11px;
    white-space: normal;

    &:empty {
      display: none;
    }
    &::before {
      content: '(';
    }
    &::after {
      content: ')';
    }
  }
}
