.avatar {
  img {
    border: 1px #c1c1c1 solid;
  }
}

.profile {
  padding-bottom: 14px;
  border-bottom: 1px solid #eee;
  margin-bottom: 14px;
  margin-top: 7px;

  .avatar {
    float: left;

    img {
      width: 75px;
      height: 75px;
    }
  }

  .description {
    font-family: Arial, sans-serif;
    color: #000;
    margin-left: 90px;

    .name {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 3px;
    }
  }
  .stats {
    text-align: right;
  }
}
.profile-controls {
  padding-bottom: 14px;
  border-bottom: 1px solid #eee;
  margin-bottom: 14px;
}

