{
  "presets": ["@babel/env", "@babel/preset-react"],
  "plugins": [
    "@babel/syntax-object-rest-spread",
    "@babel/syntax-class-properties",
    "@babel/syntax-dynamic-import",
    "@babel/proposal-object-rest-spread",
    "@babel/proposal-class-properties",
    "@babel/transform-modules-commonjs"
  ]
}
