{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "babel",
    "import",
    "lodash",
    "promise",
    "react",
    "you-dont-need-lodash-underscore"
  ],
  "extends": "eslint:recommended",
  "settings": {
    "import/extensions": [
      ".js",
      ".jsx"
    ],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": {
    "array-bracket-spacing": 2,
    "arrow-parens": 2,
    "arrow-spacing": 2,
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "comma-spacing": 2,
    "curly": ["error", "all"],
    "eol-last": "error",
    "indent": ["error", 2, {"SwitchCase": 1}],
    "keyword-spacing": ["error", {"before": true, "after": true}],
    "linebreak-style": "error",
    "no-duplicate-imports": "error",
    "no-else-return": "error",
    "no-lonely-if": "error",
    "no-multiple-empty-lines": "error",
    "no-native-reassign": "error",
    "no-spaced-func": "error",
    "no-tabs": "error",
    "no-template-curly-in-string": "error",
    "no-throw-literal": "error",
    "no-trailing-spaces": "error",
    "no-undef": "error",
    "no-unneeded-ternary": "error",
    "no-unsafe-negation": "error",
    "no-useless-computed-key": "error",
    "no-var": "error",
    "no-warning-comments": 1,
    "object-shorthand": 2,
    "padded-blocks": [2, "never"],
    "prefer-arrow-callback": [2, { "allowNamedFunctions": true }],
    "prefer-const": "error",
    "prefer-destructuring": 2,
    "prefer-spread": 2,
    "prefer-template": 2,
    "semi": ["error", "always"],
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": [2, {
      "anonymous": "always",
      "asyncArrow": "always",
      "named": "never"
    }],
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "template-curly-spacing": 2,

    "import/default": "error",
    "import/named": "error",
    "import/namespace": "error",
    "import/no-duplicates": "error",
    "import/no-extraneous-dependencies": "error",
    "import/no-named-as-default": "error",
    "import/no-named-as-default-member": "error",
    "import/no-unresolved": "error",
    "import/order": "error",

    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
