{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "babel",
    "import",
    "lodash",
    "promise",
    "react",
    "you-dont-need-lodash-underscore"
  ],
  "extends": "eslint:recommended",
  "settings": {
    "import/ignore": [
      "node_modules"
    ]
  },
  "rules": {
    "curly": ["error", "all"],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "keyword-spacing": ["error", {"before": true, "after": true}],
    "semi": ["error", "always"],
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": ["error", "never"],

    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
