doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title FreeFeed
    link(rel='stylesheet', href='[[ assets/vendor-css/font-awesome.min.css ]]')
    unless opts.hot
        link(rel='stylesheet', href='[[ common-*.css ]]')
        link(rel='stylesheet', href='[[ app-*.css ]]')
    noscript
      style.
        .jsonly { display: none }
    style.
      body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px }
      h1 { font-size: 36px; font-weight: 500 }
      h1 a { color: #222; text-decoration: none }
    link(rel='icon', href='[[ assets/images/favicon.ico ]]', type='image/x-icon')
  body
    #app
      .container
        .row.header-row
          .col-md-4
            .header
              h1.title
                a(href='/') FreeFeed
              .jsonly
                p Loading...
        .row
          .col-md-9
            .content
              .box
                noscript
                  #js-disabled-warn.alert.alert-danger(role='alert')
                    strong Javascript is disabled!
                    |  Looks like you have JavaScript disabled in your browser. Please enable it to enjoy our service.
    if opts.livereload
      script( src="/webpack-dev-server.js" )
    script(src='[[ app-*.js ]]')
