doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title FreeFeed
    link(rel='stylesheet', href='[[ assets/vendor-css/font-awesome.min.css ]]')
    unless opts.hot
        link(rel='stylesheet', href='[[ common-*.css ]]')
        link(rel='stylesheet', href='[[ app-*.css ]]')
    noscript
      style.
        .jsonly { display: none }
    style.
      body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px }
      h1 { font-size: 36px; font-weight: 500 }
      h1 a { color: #222; text-decoration: none }
    link(rel='icon', href='[[ assets/images/favicon.ico ]]', type='image/x-icon')
    link(rel='apple-touch-icon', sizes='512x512', href='[[ assets/images/ios/icon_512_512.png ]]')
    link(rel='apple-touch-icon', sizes='256x256', href='[[ assets/images/ios/icon_256_256.png ]]')
    link(rel='apple-touch-icon', sizes='192x192', href='[[ assets/images/ios/icon_192_192.png ]]')
    link(rel='apple-touch-icon', sizes='180x180', href='[[ assets/images/ios/icon_180_180.png ]]')
    link(rel='apple-touch-icon', sizes='152x152', href='[[ assets/images/ios/icon_152_152.png ]]')
    link(rel='apple-touch-icon', sizes='144x144', href='[[ assets/images/ios/icon_144_144.png ]]')
    link(rel='apple-touch-icon', sizes='120x120', href='[[ assets/images/ios/icon_120_120.png ]]')
    link(rel='apple-touch-icon', sizes='114x114', href='[[ assets/images/ios/icon_114_114.png ]]')
    link(rel='apple-touch-icon', sizes='76x76', href='[[ assets/images/ios/icon_76_76.png ]]')
    link(rel='apple-touch-icon', sizes='72x72', href='[[ assets/images/ios/icon_72_72.png ]]')
  body
    #app
      .container
        .row.header-row
          .col-md-4
            .header
              h1.title
                a(href='/') FreeFeed
              .jsonly
                p Loading...
        .row
          .col-md-9
            .content
              .box
                noscript
                  #js-disabled-warn.alert.alert-danger(role='alert')
                    strong Javascript is disabled!
                    |  Looks like you have JavaScript disabled in your browser. Please enable it to enjoy our service.

    if opts.livereload
      script( src="/webpack-dev-server.js" )

    script.
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-62517081-1', 'auto');
      ga('require', 'autotrack');
      ga('send', 'pageview');
    script(async src='https://www.google-analytics.com/analytics.js')

    script.
      (function(w, d){
       var id='embedly-platform', n = 'script';
       if (!d.getElementById(id)){
         w.embedly = w.embedly || function() {(w.embedly.q = w.embedly.q || []).push(arguments);};
         var e = d.createElement(n); e.id = id; e.async=1;
         e.src = ('https:' === document.location.protocol ? 'https' : 'http') + '://cdn.embedly.com/widgets/platform.js';
         var s = d.getElementsByTagName(n)[0];
         s.parentNode.insertBefore(e, s);
       }
      })(window, document);


    script(src='https://cdn.ravenjs.com/2.3.0/raven.min.js')
    script Raven.config('#{require('./src/config').sentry.publicDSN}').install();

    script(src='[[ app-*.js ]]')