// General

.attachments {
  clear: both;
  margin-bottom: 2px;

  a {
    color: #000088;
    text-decoration: none;

    &:hover span {
      text-decoration: underline;
    }
  }

  .remove-attachment {
    display: none;
  }

  // Clearfix (http://www.cssmojo.com/latest_new_clearfix_so_far/)
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.image-attachments {
  .attachment {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px 8px 0;
    box-sizing: content-box;
    text-align: center;

    &.surplus {
      display: none;
    }
  }

  .image-attachment-img {
    max-width: 525px;
    max-height: 175px;
    @media (max-width: 560px) {
      max-width: 100%;
      height: auto;
   }
  }

  .image-attachment-link {
    display: block;
    min-width: 32px;
    min-height: 32px;
    line-height: 30px;
    cursor: zoom-in;
    border: 1px solid silver;
    padding: 1px;

    &:hover {
      border-color: #aaa;
    }
  }

  &.single-image .attachment {
    height: auto;
    line-height: normal;
  }

  &.expanded .attachment.surplus {
    display: inline-block;
  }

  .toggle-surplus {
    display: none;
    color: #fad889; // logotype yellow (#f9b616) with lower saturation;
    font-size: 2em;
    text-decoration: none;
    position: relative;
    top: 2px;
  }

  &.has-surplus .toggle-surplus {
    display: inline-block;

    // fa-chevron-circle-right
    &:before {
      content: "\f138";
    }
  }

  &.has-surplus.expanded .toggle-surplus {
    // fa-chevron-circle-left
    &:before {
      content: "\f137";
    }
  }

  .pswp__img {
    background-color: #fff;
  }
}

.sortable-images .image-attachment-link {
  cursor: move;
}

.audio-attachments,
.general-attachments {
  .attachment {
    position: relative;
    display: block;
    margin: 0 8px 8px 0;

    .attachment-icon {
      color: #666666;
      padding: 0 1px;
      margin-right: 4px;
    }
  }
}


// Editing entries

.image-attachments {
  .attachment .remove-attachment {
    display: block;
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
    color: #000;
    font-size: 20px;
    background-color: silver;
    opacity: 0.7;
    border-radius: 0.1em;
    border-bottom-left-radius: 0.25em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.4em;
    padding: 4px;

    &:hover {
      opacity: 1;
    }
  }

  .attachment.removed {
    border: 2px solid #e33;
    padding: 0;
  }

  .attachment.added {
    border: 2px solid #3d3;
    padding: 0;
  }

  .show-more {
    display: none;
    width: 24px;
    color: #8ab;
    vertical-align: middle;
    margin-bottom: 8px;

    .show-more-icon {
      cursor: pointer;
      transform: rotate(-180deg);
      transition: transform 0.3s 0.1s;
      font-size: 1.75em;
    }
  }

  &.needs-folding {
    .show-more {
      display: inline-block;
    }
  }

  &.is-folded .show-more .show-more-icon {
    transform: rotate(0);
  }

  .lightbox-loading {
    background: rgba(0, 0, 0, 0.8);
    color: #ccc;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.audio-attachments,
.general-attachments {
  .attachment:hover .remove-attachment {
    display: block;
    position: absolute;
    top: 1px;
    width: 1em;
    height: 1em;
    cursor: pointer;
    background-color: #fff;
    border-radius: 2px;

    &:hover {
      background-color: #ddd;
    }
  }

  .attachment.removed {
    background-color: #fbb;
  }

  .attachment.added {
    background-color: #bfb;
  }
}
