// General

.attachments {
  clear: both;
  margin-bottom: 2px;

  a {
    color: #000088;
    text-decoration: none;

    &:hover span {
      text-decoration: underline;
    }
  }

  .remove-attachment {
    display: none;
  }

  // Clearfix (http://www.cssmojo.com/latest_new_clearfix_so_far/)
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.image-attachments {
  .attachment {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid silver;
    padding: 1px;
    margin: 0 8px 8px 0;
    box-sizing: content-box;
    text-align: center;

    img {
      max-width: 525px;
      max-height: 175px;
      @media (max-width: 400px) {
        max-width: 250px;
        height: auto;
     }
    }

    &.surplus {
      display: none;
    }

    a {
      display: block;
      min-width: 32px;
      min-height: 32px;
      line-height: 30px;
    }
  }

  &.single-image .attachment {
    height: auto;
    line-height: normal;
  }

  &.expanded .attachment.surplus {
    display: inline-block;
  }

  .toggle-surplus {
    display: none;
    color: #fad889; // logotype yellow (#f9b616) with lower saturation;
    font-size: 2em;
    text-decoration: none;
    position: relative;
    top: 2px;
  }

  &.has-surplus .toggle-surplus {
    display: inline-block;

    // fa-chevron-circle-right
    &:before {
      content: "\f138";
    }
  }

  &.has-surplus.expanded .toggle-surplus {
    // fa-chevron-circle-left
    &:before {
      content: "\f137";
    }
  }
}

.audio-attachments,
.general-attachments {
  .attachment {
    position: relative;
    display: block;
    margin: 0 8px 8px 0;

    i {
      color: #666666;
      padding: 0 1px;
      margin-right: 4px;
    }
  }
}


// Editing entries

.image-attachments {
  .attachment .remove-attachment {
    display: block;
    position: absolute;
    right: 1px;
    top: 1px;
    cursor: pointer;
    color: #000;
    font-size: 20px;
    background-color: silver;
    opacity: 0.7;
    border-bottom-left-radius: 5px;

    &:hover {
      opacity: 1;
    }
  }

  .attachment.removed {
    border: 2px solid #e33;
    padding: 0;
  }

  .attachment.added {
    border: 2px solid #3d3;
    padding: 0;
  }

  .show-more {
    display: none;
    width: 24px;
    color: #8ab;
    vertical-align: middle;
    margin-bottom: 8px;

    .fa {
      cursor: pointer;
      transform: rotate(-180deg);
      transition: transform 0.3s 0.1s;
    }
  }

  &.needs-folding {
    .show-more {
      display: inline-block;
    }
  }

  &.is-folded .show-more .fa {
    transform: rotate(0);
  }
}

.audio-attachments,
.general-attachments {
  .attachment:hover .remove-attachment {
    display: block;
    position: absolute;
    left: -3px;
    bottom: 0;
    cursor: pointer;
    padding: 3px 4px 3px 5px;
    background-color: #fff;
    border-radius: 2px;

    &:hover {
      background-color: #ddd;
    }
  }

  .attachment.removed {
    background-color: #fbb;
  }

  .attachment.added {
    background-color: #bfb;
  }
}
