@import '../helvetica/dark-vars.scss';

.comments {
  font-size: rem(14px);
  line-height: rem(18px);
  clear: both;
}

.comment {
  --bg-color: white;
  --highlight-color: #d9ebff;
  --url-highlight-color: #ffffbb;

  .dark-theme & {
    --bg-color: #{$bg-color};
    --highlight-color: #{$bg-color-lightest};
    --url-highlight-color: #{$bg-color-lightest};
  }

  &.highlighted {
    --bg-color: var(--highlight-color);
  }

  &.highlight-from-url {
    --bg-color: var(--url-highlight-color);
  }

  margin-top: rem(8px);
  position: relative;
  background-color: var(--bg-color);
  box-shadow: 0 0 0 3px var(--bg-color);
  border-radius: 1px;
  transition: background-color 0.2s, box-shadow 0.2s;

  .comment-body {
    word-wrap: break-word;
    margin-left: rem(19px);
    position: relative; // to overflow the comment highlight
  }

  .comment-textarea {
    @include editarea;

    background: white;
    min-width: 100%;
  }

  .comment-textarea__dragged {
    background: #eee;
  }

  .comment-cancel {
    margin-left: rem(10px);
  }

  .comment-throbber {
    margin-left: rem(10px);
  }

  .comment-error {
    font-size: rem(12px);
    color: #ff5a5f;
    margin-left: rem(5px);
  }

  .comment-file-button {
    float: right;
    color: inherit;
    font-size: rem(15px);
    opacity: 0.66;
    margin-right: rem(-4px);
  }

  .comment-timestamp a {
    color: #999;
    font-size: rem(12px);
    white-space: nowrap;
  }

  .more-comments-throbber {
    display: inline-block;
    width: rem(16px);
    margin-left: rem(-1px);
    margin-right: rem(4px);
  }

  .more-comments-link {
    font-style: italic;
  }

  .add-comment-link {
    font-style: italic;
  }

  .expandable .expand-panel {
    background-color: var(--bg-color);
    line-height: rem(18px);

    .expand-button {
      margin-left: 0;
      font-size: rem(14px);
    }
  }

  &.is-hidden,
  &.is-loading {
    $hidden-color: #999;

    .comment-text {
      font-style: italic;
      color: $hidden-color;
    }

    .comment-icon {
      color: $hidden-color !important;
    }
  }
}

.comment-tail {
  --gray-color: #999;
  --danger-color: #d33;

  .dark-theme & {
    --gray-color: #{$text-color-darker};
    --danger-color: #d66;
  }

  color: var(--gray-color);

  &__actions {
    white-space: nowrap;
  }

  &__timestamp {
    color: var(--gray-color) !important;
    font-size: rem(12px);
    white-space: nowrap;
  }

  &__action-link {
    color: inherit !important;
  }

  &__action-link--delete {
    color: var(--danger-color) !important;
  }
}

.feed-comment-dot {
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(4px);
    height: rem(4px);
    background-color: #ccc;
    margin-left: rem(-2px);
    margin-top: 0;
    border-radius: 50%;
  }

  &:hover::after {
    background-color: #999;
  }
}

.comments-folder {
  position: sticky;
  top: 0;
  z-index: 2;
  font-style: italic;
  padding: rem(8px) 0 0 rem(59px);
  margin-left: rem(-40px);

  .chevron {
    display: none;
    position: absolute;
    left: rem(40px);
    top: rem(9px);
    opacity: 0.3;
  }

  background: scale-color(#fff, $alpha: -10%);

  .direct-post & {
    background: scale-color(#eee, $alpha: -10%);
  }

  .dark-theme & {
    background-color: scale-color($bg-color, $alpha: -10%);
  }

  .dark-theme .direct-post & {
    background-color: scale-color($bg-color-lighter, $alpha: -10%);
  }
}

.comments-folder__stuck {
  .chevron {
    display: block;
  }

  box-shadow: 0 0 4px 8px scale-color(#fff, $alpha: -10%);

  .direct-post & {
    box-shadow: 0 0 4px 8px scale-color(#eee, $alpha: -10%);
  }

  .dark-theme & {
    box-shadow: 0 0 4px 8px scale-color($bg-color, $alpha: -10%);
  }

  .dark-theme .direct-post & {
    box-shadow: 0 0 4px 8px scale-color($bg-color-lighter, $alpha: -10%);
  }
}

.comments-folder--after {
  // To prevent collapse of margins
  height: 0.1px;
}
