@use 'sass:color';
@use '../helvetica/dark-vars.scss';
@use 'forms';
@use 'mixins';

.comments {
  font-size: mixins.rem(14px);
  line-height: mixins.rem(18px);
  clear: both;
}

.comment {
  --highlight-color: #d9ebff;
  --url-highlight-color: #ffffbb;

  .dark-theme & {
    --highlight-color: #{dark-vars.$bg-color-lightest};
    --url-highlight-color: #{dark-vars.$bg-color-lightest};
  }

  &.highlighted {
    --bg-color: var(--highlight-color);
  }

  &.highlight-from-url {
    --bg-color: var(--url-highlight-color);
  }

  margin-top: mixins.rem(8px);
  position: relative;
  background-color: var(--bg-color);
  box-shadow: 0 0 0 3px var(--bg-color);
  border-radius: 1px;
  transition:
    background-color 0.2s,
    box-shadow 0.2s;

  .comment-body {
    overflow-wrap: break-word;
    margin-left: mixins.rem(19px);
    position: relative; // to overflow the comment highlight
  }

  .comment-textarea {
    @include forms.editarea;

    background: white;
    min-width: 100%;
  }

  .comment-textarea__dragged {
    background: #eee;
  }

  .comment-cancel {
    margin-left: mixins.rem(10px);
  }

  .comment-throbber {
    margin-left: mixins.rem(10px);
  }

  .comment-error {
    font-size: mixins.rem(12px);
    color: #ff5a5f;
    margin-left: mixins.rem(5px);
  }

  .comment-file-button {
    float: right;
    color: inherit;
    font-size: mixins.rem(15px);
    opacity: 0.66;
    margin-right: mixins.rem(-4px);
  }

  .comment-timestamp a {
    color: #999;
    font-size: mixins.rem(12px);
    white-space: nowrap;
  }

  &.more-comments-wrapper {
    position: relative;
    margin-left: mixins.rem(16px);
  }

  .more-comments-throbber {
    position: absolute;
    left: mixins.rem(-16px);
    width: mixins.rem(16px);
  }

  .more-comments-link {
    font-style: italic;
    white-space: nowrap;
  }

  .add-comment-link {
    font-style: italic;
  }

  &.comment-is-hidden,
  &.comment-is-loading {
    $hidden-color: #999;

    .comment-text {
      font-style: italic;
      color: $hidden-color;
    }

    .comment-icon {
      color: $hidden-color !important;
    }
  }
}

.comment-tail {
  --gray-color: #999;
  --danger-color: #d33;

  .dark-theme & {
    --gray-color: #{dark-vars.$text-color-darker};
    --danger-color: #d66;
  }

  color: var(--gray-color);

  &__actions {
    white-space: nowrap;
  }

  &__timestamp {
    color: var(--gray-color) !important;
    font-size: mixins.rem(12px);
    white-space: nowrap;
  }

  &__action-link {
    color: inherit !important;
  }

  &__action-link--delete {
    color: var(--danger-color) !important;
  }
}

.feed-comment-dot {
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: mixins.rem(4px);
    height: mixins.rem(4px);
    background-color: #ccc;
    margin-left: mixins.rem(-2px);
    margin-top: 0;
    border-radius: 50%;
  }

  &:hover::after {
    background-color: #999;
  }
}

.comments-folder {
  position: sticky;
  top: 0;
  z-index: 2;
  font-style: italic;
  padding: mixins.rem(8px) 0 0 mixins.rem(59px);
  margin-left: mixins.rem(-40px);

  .chevron {
    display: none;
    position: absolute;
    left: mixins.rem(40px);
    top: mixins.rem(9px);
    opacity: 0.3;
  }

  background: color.scale(#fff, $alpha: -10%);

  .direct-post & {
    background: color.scale(#eee, $alpha: -10%);
  }

  .dark-theme & {
    background-color: color.scale(dark-vars.$bg-color, $alpha: -10%);
  }

  .dark-theme .direct-post & {
    background-color: color.scale(dark-vars.$bg-color-lighter, $alpha: -10%);
  }
}

.comments-folder__stuck {
  .chevron {
    display: block;
  }

  box-shadow: 0 0 4px 8px color.scale(#fff, $alpha: -10%);

  .direct-post & {
    box-shadow: 0 0 4px 8px color.scale(#eee, $alpha: -10%);
  }

  .dark-theme & {
    box-shadow: 0 0 4px 8px color.scale(dark-vars.$bg-color, $alpha: -10%);
  }

  .dark-theme .direct-post & {
    box-shadow: 0 0 4px 8px color.scale(dark-vars.$bg-color-lighter, $alpha: -10%);
  }
}

.comments-folder--after {
  // To prevent collapse of margins
  height: 0.1px;
}
