.comments {
  font-size: 14px;
  line-height: 18px;
  clear: both;
}

.comment {
  margin-top: 8px;

  .comment-icon {
    float: left;
    height: 16px;
    width: 16px;
    margin-top: 2px;
    margin-right: 3px;
    text-decoration: none;

    &.fa-stack {
      width: 14px;
      margin-top: 1px;
      margin-right: 6px;
      line-height: 1em;
    }
    .fa-plus,
    .fa-square {
      font-size: 60%;
      top: 3px;
      left: 4px;
    }
    .fa-plus {
      top: 3px;
      left: 4px;
    }
  }

  .comment-body {
    margin-left: 19px;
  }

  .comment-textarea {
    @include editarea;
  }

  .comment-cancel {
    margin-left: 10px;
  }

  .comment-throbber {
    margin-left: 10px;
  }

  .comment-error {
    font-size: 12px;
    color: #FF5A5F;
  }

  .more-comments-throbber {
    display: inline-block;
    width: 16px;
    margin-left: -1px;
    margin-right: 4px;
  }

  .more-comments-link {
    font-style: italic;
  }

  .add-comment-link {
    font-style: italic;
  }
}
