@import '../helvetica/dark-vars.scss';

.comments {
  font-size: 14px;
  line-height: 18px;
  clear: both;
}

.comment {
  margin-top: 8px;
  position: relative;

  .comment-body {
    word-wrap: break-word;
    margin-left: 19px;
    position: relative; // to overflow the comment highlight
  }

  .comment-textarea {
    @include editarea;
  }

  .comment-cancel {
    margin-left: 10px;
  }

  .comment-throbber {
    margin-left: 10px;
  }

  .comment-error {
    font-size: 12px;
    color: #ff5a5f;
  }

  .comment-timestamp a {
    color: #999;
    font-size: 12px;
  }

  .more-comments-throbber {
    display: inline-block;
    width: 16px;
    margin-left: -1px;
    margin-right: 4px;
  }

  .more-comments-link {
    font-style: italic;
  }

  .add-comment-link {
    font-style: italic;
  }

  .expandable .expand-panel {
    line-height: 18px;
    .expand-button {
      margin-left: 0;
      font-size: 14px;
    }
  }

  &.highlighted::before,
  &.highlight-from-url::before {
    $border-width: 3px;
    content: '';
    position: absolute;
    top: -$border-width;
    left: -$border-width;
    right: -$border-width;
    bottom: -$border-width;
    border-radius: $border-width;
  }

  &.highlighted::before {
    background-color: #d9ebff;
  }

  &.highlight-from-url::before {
    background-color: #ffffbb;
  }

  &.is-hidden {
    $hidden-color: #bbb;
    .comment-text {
      font-style: italic;
      color: $hidden-color;
    }
    .comment-icon {
      color: $hidden-color !important;
    }
  }
}

.feed-comment-dot {
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background-color: #ccc;
    margin-left: -2px;
    margin-top: 0;
    border-radius: 50%;
  }
  &:hover:after {
    background-color: #999;
  }
}

.comments-folder {
  position: sticky;
  top: 0;
  z-index: 1;
  font-style: italic;
  padding: 8px 0 0 59px;
  margin-left: -40px;

  .chevron {
    display: none;
    position: absolute;
    left: 40px;
    top: 9px;
    opacity: 0.3;
  }

  background: scale-color(#fff, $alpha: -10%);

  .direct-post & {
    background: scale-color(#eee, $alpha: -10%);
  }

  body.dark-theme & {
    background-color: scale-color($bg-color, $alpha: -10%);
  }

  body.dark-theme .direct-post & {
    background-color: scale-color($bg-color-lighter, $alpha: -10%);
  }
}

.comments-folder__stuck {
  .chevron {
    display: block;
  }

  box-shadow: 0 0px 4px 8px scale-color(#fff, $alpha: -10%);

  .direct-post & {
    box-shadow: 0 0px 4px 8px scale-color(#eee, $alpha: -10%);
  }

  body.dark-theme & {
    box-shadow: 0 0px 4px 8px scale-color($bg-color, $alpha: -10%);
  }

  body.dark-theme .direct-post & {
    box-shadow: 0 0px 4px 8px scale-color($bg-color-lighter, $alpha: -10%);
  }
}

.comments-folder--after {
  // To prevent collapse of margins
  height: 0.1px;
}
