$comment-line-height: 18px;

.comments {
  font-size: 14px;
  line-height: $comment-line-height;
  clear: both;
}

.comment {
  margin-top: 8px;
  position: relative;

  .comment-time {
    float: left;
    margin-top: 2px;
    margin-right: 3px;
  }

  .comment-icon {
    float: left;
    height: 16px;
    width: 16px;
    text-decoration: none;

    &.fa-stack {
      width: 14px;
      margin-top: 1px;
      margin-right: 6px;
      line-height: 1em;
    }
    .fa-plus,
    .fa-square {
      font-size: 60%;
      top: 3px;
      left: 4px;
    }
    .fa-plus {
      top: 3px;
      left: 4px;
    }
  }

  .comment-body {
    word-wrap: break-word;
    margin-left: 19px;
  }

  .comment-textarea {
    @include editarea;
  }

  .comment-cancel {
    margin-left: 10px;
  }

  .comment-throbber {
    margin-left: 10px;
  }

  .comment-error {
    font-size: 12px;
    color: #FF5A5F;
  }

  .more-comments-throbber {
    display: inline-block;
    width: 16px;
    margin-left: -1px;
    margin-right: 4px;
  }

  .more-comments-link {
    font-style: italic;
  }

  .add-comment-link {
    font-style: italic;
  }

  .expandable .expand-panel {
    line-height: 18px;
    .expand-button {
      margin-left: 0;
      font-size: 14px;
    }
  }

  &.highlighted {
    $hl-color: #D9EBFF;
    background-color: $hl-color;

    &::before {
      $border-width: 3px;
      content: '';
      position: absolute;
      top: -$border-width;
      left: -$border-width;
      right: -$border-width;
      bottom: -$border-width;
      border: $border-width+1px solid $hl-color;
      border-radius: $border-width;
    }
  }
}


.feed-comment-dot {
  &:after {
    content: '';
    position: absolute;
    top: 35%;
    left: 50%;
    width: 4px;
    height: 4px;
    background-color: #CCC;
    margin-left: -2px;
    margin-top: -2px;
    border-radius: 50%;
  }
  &:hover:after {
    background-color: #999;
  }
}

.fold-comments {
  font-style: italic;
  padding: 8px 0 0 19px;
  i {
    display: none;
  }
}

.fold-comments-sticky {
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0px 4px 8px rgba(255, 255, 255, 0.9);
  z-index: 1;
  i {
    display: block;
    position: absolute;
    left: 0px;
    top: 9px;
    opacity: 0.3;
  }
}
