.error-boundary {
  display: block;
  padding: 10px;
  color: #000;
  border: 2px solid #a00;
}

.error-boundary-header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.error-boundary-details {
  font-size: 12px;
}
