.feed-options-switch {
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  z-index: 1;

  .dots-icon {
    top: 3px;
  }

  .dropdown {
    position: absolute;
    width: 260px;
    right: 0;
    top: 80%;
    z-index: 1;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 2px;

    .drop-option {
      padding: 2px 8px 4px 8px;
      font-size: 14px;
      font-weight: normal;
      &:hover {
        background-color: #e6e6e6;
      }
      &.active {
        font-weight: bold;
        .check {
          opacity: 0.4;
        }
      }

      .check {
        opacity: 0;
        margin-right: 6px;
      }
    }

    .spacer {
      height: 1px;
      margin: 0 8px;
      background-color: #ccc;
    }
  }
}
