.feed-options-switch {
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  z-index: 1;

  .dropdown {
    position: absolute;
    width: 180px;
    right: 0;
    top: 80%;
    z-index: 1;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 2px;

    .drop-option {
      padding: 2px 8px 4px 8px;
      font-size: 14px;
      font-weight: normal;
      &:hover {
        background-color: rgba(255, 185, 20, 0.65);
      }
      &.active {
        font-weight: bold;
        .check {
          opacity: 0.4;
        }
      }

      .check {
        opacity: 0;
        padding-right: 6px;
      }
    }

    .spacer {
      height: 1px;
      margin: 0 8px;
      background-color: #ccc;
    }
  }
}
