.manage-subscribers-admins {
  padding-top: 10px;
}

.manage-subscribers-body {
  .tile-list {
    padding-bottom: 10px;
  }
}

.group-warning {
  background-color: #FCF8E3;
  padding: 12px 18px;
  border: 1px solid #FBF1D8;
  color: #796E58;
  margin: 10px 0;
}
