.page--pswp-open {
  // Disable scrolling while lightbox is open
  overflow-y: hidden;

  body {
    // Compensate of the scrollbar width
    scrollbar-gutter: stable;
    overflow-y: scroll;
  }
}

.pswp-media__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  max-width: 100%;
  max-height: 100%;
  color: white;
}

.pswp-media__container--error {
  height: 100vh;
  justify-content: center;
}

.pswp-media__error-message {
  color: coral;

  &::before {
    content: '⚠ ';
  }
}

.pswp-media__content {
  flex: 1;
  position: relative;
  width: 100%;
  height: auto;
}

.pswp-media__title {
  flex: 0;
  color: white;

  & > a,
  & > a:hover,
  & > a:focus {
    color: inherit;
  }
}

.pswp-media__embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pswp__img {
  // Override the 'zoom-in' cursor for images that cannot be zoomed in
  cursor: default;
  dynamic-range-limit: no-limit;
  transition: dynamic-range-limit 200ms ease-out;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.pswp__img--sdr {
  dynamic-range-limit: standard;
}

.pswp__button--zoom {
  order: 1;
}

.pswp__button--fs {
  font-size: 20px;
  color: #fff;
  order: 2;
}

.pswp__button--close {
  order: 3;
}

#pswp__icn-fullscreen-close {
  display: none;
}

.pswp__fullscreen-mode {
  #pswp__icn-fullscreen-close {
    display: block;
  }

  #pswp__icn-fullscreen-open {
    display: none;
  }
}

.pswp__processing-indicator {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pswp__custom-caption {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  max-width: min(30rem, 90vw);
  width: calc(100% - 2rem);
  padding: 0.25em 0.75em;
  border-radius: 0.25rem;
  background: rgb(0, 0, 0, 0.65);
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
}

.pswp-caption__link {
  color: #fff;
  text-decoration: none;
  display: block;

  &:hover,
  &:active,
  &:focus {
    color: #fff;
    text-decoration: underline;
  }
}

.pswp-caption__avatar {
  border-radius: 50%;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
}
