.pswp-media__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  max-width: 100%;
  max-height: 100%;
}

.pswp-media__container--error {
  height: 100vh;
  justify-content: center;
}

.pswp-media__error-message {
  color: coral;

  &::before {
    content: '⚠ ';
  }
}

.pswp-media__content {
  flex: 1;
  position: relative;
  width: 100%;
  height: auto;
}

.pswp-media__title {
  flex: 0;
  color: white;

  & > a,
  & > a:hover,
  & > a:focus {
    color: inherit;
  }
}

.pswp-media__embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pswp__img {
  // Override the 'zoom-in' cursor for images that cannot be zoomed in
  cursor: default;
}

.pswp__button--zoom {
  order: 1;
}

.pswp__button--fs {
  font-size: 20px;
  color: #fff;
  order: 2;
}

.pswp__button--close {
  order: 3;
}

#pswp__icn-fullscreen-close {
  display: none;
}

.pswp__fullscreen-mode {
  #pswp__icn-fullscreen-close {
    display: block;
  }

  #pswp__icn-fullscreen-open {
    display: none;
  }
}
