@use 'mixins';

.post-likes {
  margin-top: mixins.rem(8px);

  .icon {
    margin-top: mixins.rem(2px);
    float: left;
    color: #ffb914;
  }
}

.post-likes-list {
  list-style: none;
  padding: 0;
  margin: 0 mixins.rem(4px) 0 mixins.rem(19px);

  .post-like {
    display: inline;
  }

  .throbber {
    position: absolute;

    .throbber-image {
      position: relative;
      top: mixins.rem(-1px);
      left: mixins.rem(4px);
    }
  }
}
