.post-likes {
  margin-top: rem(8px);

  .icon {
    margin-top: rem(2px);
    float: left;
    color: #ffb914;
  }
}

.post-likes-list {
  list-style: none;
  padding: 0;
  margin: 0 rem(4px) 0 rem(19px);

  .post-like {
    display: inline;
  }

  .throbber {
    position: absolute;

    .throbber-image {
      position: relative;
      top: rem(-1px);
      left: rem(4px);
    }
  }
}
