ul.tile-list {
  margin: 0;
  padding: 20px 0 0 0;

  li {
    width: 110px;
    height: 110px;
    display: block;
    float: left;
    list-style-type: none;
    padding-top: 10px;
    text-align: center;

    .avatar {
      margin-bottom: 5px;
    }

    a {
      display: block;
      line-height: 130%;
      font-size: 12px;
      color: #4c4c4c;
    }

    .user-actions {
      color: #337ab7;
      a { 
        display: inline;
        color: #337ab7;
      }
    }
  }

  &.with-actions li {
    height: 130px;
  }

  &.large-pics li {
    height: 140px;
  }

  &.with-actions.large-pics li {
    height: 160px;
  }

  @include clearfix();
}

.list-controls {
  .manage-controls {
    text-align: right;
    float: right;
  }
  .filter-controls {
    float: left;
  }
}