ul.tile-list {
  margin: 0;
  padding: 20px 0 0 0;

  li {
    width: 110px;
    height: 110px;
    display: block;
    float: left;
    overflow: hidden;
    list-style-type: none;
    padding-top: 10px;
    text-align: center;

    a {
      display: block;
      line-height: 130%;
      font-size: 12px;
      color: #4c4c4c;

      .avatar {
        margin-bottom: 5px;
      }
    }
  }

  @include clearfix();
}

.list-controls {
  .manage-controls {
    text-align: right;
    float: right;
  }
  .filter-controls {
    float: left;
  }
}