.media-link {
  .icon-bond {
    white-space: nowrap;

    &::after {
      content: '\FEFF';
    }
  }

  .media-icon {
    margin: 0 4px 0 2px;
    display: inline-block;
    vertical-align: middle;
    color: #aaaaaa;

    &.fa-icon-fab-instagram {
      margin-right: 3px;
    }
  }
}
