.pswp__zoom-wrap {
  text-align: center;

  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.pswp__caption a {
  color: white;
}

.media-wrapper {
  position: absolute;
  inset: 40px 40px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 100% !important;
  height: auto !important;
}

.media-link {
  .icon-bond {
    white-space: nowrap;

    &::after {
      content: '\FEFF';
    }
  }

  .media-icon {
    margin: 0 4px 0 2px;
    display: inline-block;
    vertical-align: middle;
    color: #aaaaaa;

    &.fa-icon-fab-instagram {
      margin-right: 3px;
    }
  }
}
