$post-line-height: rem(20px);

.post .expandable.folded {
  margin-bottom: rem(8px);
}

.post .expandable .expand-button {
  @media (min-width: 768px) {
    margin-left: 63px;
  }
}

.post {
  padding-top: rem(14px);
  padding-bottom: rem(14px);
  border-bottom: 1px solid #eee;
  line-height: rem(19px);
  position: relative;

  a {
    color: #555599;
  }

  .read-more {
    color: #555599 !important;
    font-style: italic;
    white-space: nowrap;
  }

  .post-userpic {
    float: left;
    @media (max-width: 767px) {
      margin: 0 rem(10px) 3px 0;
    }
  }

  .post-header {
    font-size: rem(15px);
    line-height: rem(20px);
    margin-bottom: rem(2px);

    a {
      font-weight: bold;
      color: #000088;
    }

    .post-recipient {
      font-weight: 500;
    }
  }

  .post-body {
    margin-left: 63px;
    @media (max-width: 767px) {
      margin-left: 0;
    }

    color: #666;
    font-size: rem(14px);
    line-height: rem(19px);

    .post-text {
      margin-bottom: rem(8px);
      word-wrap: break-word;
      @media (max-width: 767px) {
        min-height: rem(31px);
      }

      color: #000;
      font-size: rem(16px);
      line-height: $post-line-height;

      &.modern {
        max-height: 5 * $post-line-height;
        overflow-y: hidden;
        position: relative;
        display: block;

        .read-more {
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: white;
          padding: 0 4px;
        }
      }

      a {
        color: #000088;
      }
    }

    .post-footer {
      display: flex;

      & + .post-footer {
        margin-top: rem(8px);
      }

      .post-lock-icon {
        cursor: pointer;
      }

      .post-footer-backlink-icon {
        transform: scaleY(-1);
      }

      .post-private-icon {
        font-size: rem(13px);
        vertical-align: 0;
      }

      .post-public-icon {
        font-size: rem(13px);
      }

      .post-protected-icon {
        font-size: rem(15px);
        vertical-align: rem(-2px);
      }

      .post-direct-icon {
        margin-right: 0.33em;
        font-size: rem(12px);
        vertical-align: rem(-1px);
      }

      .post-timestamp {
        color: #666;
      }
    }
  }
}

.post-footer-icon {
  width: rem(19px);
  flex: 0 0 auto;
}

.post-footer-content {
  overflow: hidden;
}

.post-footer-block {
  display: inline-block;
  margin-left: -1em;
  margin-right: 1em;
  max-width: 100%;

  @media (max-width: 500px) {
    display: block;
  }
}

.post-footer-item {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;

  &:empty {
    display: none;
  }

  &::before {
    content: ' - ';
    display: inline-block;
    width: 1em;
    text-align: center;
  }
}

.post-like-throbber {
  margin-left: 5px;
}

.post-hide-throbber {
  margin-left: 5px;

  &:empty {
    display: none;
  }
}

.post-hide-fail {
  margin-left: 5px;
  color: #ff8265;
  cursor: help;
}

.post-like-fail {
  margin-right: 0.2em;
  color: #ff8265;
  cursor: help;
}

// spoiler
.spoiler-hidden {
  background-color: #939393;
  color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 1;

  .dark-theme & {
    background-color: #666666;
  }

  &::selection {
    color: transparent;
  }

  &::-moz-selection {
    color: transparent;
  }
}

.spoiler-visible {
  cursor: pointer;
  background-color: #eee;

  .dark-theme & {
    background-color: #333;
  }
}

// To give link-only spoilers a little bit of space where they can
// be clicked to close
.spoiler-visible,
.spoiler-hidden {
  padding: 0 rem(2px);
}

.spoiler-hidden * {
  opacity: 0 !important;
  pointer-events: none !important;
}

// paragraph breaks
.p-break {
  height: 0.35em;

  .post-text & {
    height: 0.65em;
  }
}

// Used in both create-post and edit-post
.post-editor {
  position: relative; // necessary for proper width of dropzone inside this container

  // Clearfix (http://www.cssmojo.com/latest_new_clearfix_so_far/)
  &::after {
    content: '';
    display: table;
    clear: both;
  }

  .post-textarea {
    @include editarea;
  }

  .post-edit-actions {
    margin-bottom: 1.2em;
    display: grid;
    grid-template-areas: 'options hint actions';
    grid-template-columns: 1fr 1fr 0fr;
    align-items: center;
    position: relative;

    @media (max-width: 500px) {
      grid-template-areas:
        'options actions'
        'hint hint';
      grid-template-columns: 1fr 0fr;
    }
  }

  .post-edit-hint {
    grid-area: hint;
    text-align: right;

    @media (max-width: 500px) {
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .post-edit-buttons {
    grid-area: actions;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: start;
  }

  .post-edit-options {
    grid-area: options;

    .post-edit-attachments {
      cursor: pointer;
      white-space: nowrap;

      &:hover span:last-child {
        text-decoration: underline;
      }

      &[disabled] {
        text-decoration: line-through;
      }

      .upload-icon {
        font-size: rem(15px);
        opacity: 0.5;
      }
    }

    .post-edit-more-trigger {
      color: #333;
      margin-left: rem(15px);
    }

    .post-edit-more {
      margin-top: rem(10px);

      .post-edit-more-checkbox {
        margin: 0 rem(5px) 0 rem(1px);
        vertical-align: middle;
      }

      .post-edit-more-labeltext {
        font-weight: normal;
        vertical-align: middle;
      }
    }
  }

  .post-cancel {
    margin-right: rem(10px);
  }

  .post-edit-throbber {
    margin-right: rem(10px);
  }
}

.recently-hidden-post {
  .recently-hidden-post__close {
    float: right;
    padding: 0.33em;
    margin: -0.33em;
    border-radius: 50%;
    line-height: 1em;
    color: inherit;
    opacity: 0.5;
    transition: opacity 0.3s;

    &:hover {
      background: #eee;
      opacity: 1;
    }
  }
}

.post-unhide-block {
  margin: rem(10px) 0;
  padding-left: rem(18px);
  border-left: 1px solid currentColor;
}

.single-post {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 0 none;

  .post-header {
    font-size: rem(21px);
    line-height: rem(26px);
  }

  .post-body {
    margin-left: 88px;
    @media (max-width: 767px) {
      margin-left: 0;
    }

    .post-text {
      @media (max-width: 767px) {
        min-height: 50px;
      }

      font-size: rem(21px);
      line-height: rem(26px);
    }
  }
}

.timeline-post.direct-post {
  background-color: #eee;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 48 48'><path fill='%23ffffff' d='M40 8H8c-2.21 0-3.98 1.79-3.98 4L4 36c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4V12c0-2.21-1.79-4-4-4zm0 8L24 26 8 16v-4l16 10 16-10v4z'/></svg>");
  background-repeat: no-repeat;
  background-position: top right;
  background-position: top 0.5em right 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 1px solid #fff;
  margin: -1px -1em 5px;
  border-radius: 5px;

  &.be-fe-folded-text-para::after {
    background: linear-gradient(to bottom, hsla(0deg, 0%, 93%, 0), hsla(0deg, 0%, 93%, 0.007));
  }

  &.be-fe-folded-text-read-more {
    background: linear-gradient(to right, hsla(0deg, 0%, 93%, 0), #eee 3.5em);
  }

  &.be-fe-folded-text::after {
    background: linear-gradient(to bottom, hsla(0deg, 0%, 93%, 0), hsla(0deg, 0%, 93%, 0.007));
  }

  .expand-panel {
    background-color: #eee;
  }
}

.single-post.direct-post {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 48 48'><path fill='%23eeeeee' d='M40 8H8c-2.21 0-3.98 1.79-3.98 4L4 36c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4V12c0-2.21-1.79-4-4-4zm0 8L24 26 8 16v-4l16 10 16-10v4z'/></svg>")
    no-repeat top right;
}

.post-via-sources {
  font-size: rem(12px);
  margin-left: 0.4em;
  line-height: rem(16px);
}

.post-via-more {
  font-weight: normal !important;
}

.search-highlight {
  background-color: #ffff80;
  padding: 0.2em 0;
}

.post-privacy-warning {
  background-color: #fcf8e3;
  padding: rem(12px) rem(18px);
  border: 1px solid #fbf1d8;
  color: #796e58;
  margin: rem(10px) 0;

  &:empty {
    display: none;
  }
}

.nsfw-bar {
  color: #999;
  width: 30em;
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: rem(10px);
}

.link-preview {
  .link-preview-content {
    margin-bottom: rem(10px);
  }

  .folder-container {
    .content-wrapper {
      position: relative;
      overflow: hidden;

      &.folded::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: rem(40px);
        pointer-events: none;

        @mixin grad($color) {
          $gradArgs: rgba($color, 0) 0%, rgba($color, 0.2) 25%, rgba($color, 0.8) 75%,
            rgba($color, 1) 100%;

          background: -webkit-linear-gradient($gradArgs);
          background: -o-linear-gradient($gradArgs);
          background: linear-gradient($gradArgs);
        }

        @include grad(#fff);

        .timeline-post.direct-post & {
          @include grad(#eee);
        }
      }
    }

    .preview-expand {
      margin-top: rem(8px);

      & > .preview-expand-icon {
        opacity: 0.5;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .embedly-card {
    overflow: hidden;
  }

  .embedly-card-hug {
    margin: 0 !important;
  }

  iframe.embedly-card {
    color-scheme: normal;
  }

  .video-preview {
    max-width: 450px;

    &.load-error {
      display: none;
    }

    .static-preview {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%; // 16:9
      background-color: #999;
      background-position: center center;
      background-size: cover;
      cursor: pointer;

      .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 100px;
        color: #fff;
        opacity: 0.66;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: opacity 0.3s;
      }

      &:hover .play-icon {
        opacity: 1;
        transition: opacity 0.3s;
      }

      iframe,
      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: default;
      }
    }

    .info {
      margin-top: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .tweet-preview {
    max-width: 450px;
  }

  .twitter-iframe {
    width: 100%;
  }

  .instagram-preview {
    width: 400px;
    max-width: 100%;
  }

  .instagram-iframe {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #eee;
    box-sizing: content-box;
  }

  .google-docs-preview {
    width: 500px;
    max-width: 100%;
    position: relative;
  }

  .google-docs-label {
    position: absolute;
    top: 6px;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(160, 160, 160, 0.3);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    background-image: url('https://www.google.com/drive/images/drive/logo-drive.png');

    &.document {
      background-size: 50%;
      background-image: url('https://ssl.gstatic.com/docs/doclist/images/mediatype/icon_1_document_x64.png');
    }

    &.spreadsheets {
      background-size: 50%;
      background-image: url('https://ssl.gstatic.com/docs/doclist/images/mediatype/icon_1_spreadsheet_x64.png');
    }

    &.presentation {
      background-size: 50%;
      background-image: url('https://ssl.gstatic.com/docs/doclist/images/mediatype/icon_1_presentation_x64.png');
    }
  }

  .google-docs-inner {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    background-repeat: no-repeat;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: content-box;

    &:hover {
      border-color: #999;
    }
  }

  .wikipedia-preview {
    border: 1px solid #ccc;
    padding: 10px 10px 0;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Wikipedia-W-bold-in-square.svg/512px-Wikipedia-W-bold-in-square.svg.png');
    background-position: top right 5px;
    background-size: 32px;
    background-repeat: no-repeat;
    width: 500px;
    max-width: 100%;

    a {
      display: block;
      color: inherit;
      text-decoration: none;
    }
  }

  .wikipedia-preview-image {
    border: 1px solid #999;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .telegram-iframe {
    width: 500px;
    max-width: 100%;
    border: none;
  }

  .tiktok-video-preview {
    position: relative;
    width: 300px;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .tiktok-video-preview::before {
    content: '';
    display: block;
    width: 100%;

    // Assuming that aspect ratio is constant
    padding-bottom: 200%;
  }

  .tiktok-video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.submit-mode-hint {
  margin: 0 1em;
  font-size: 85%;
  opacity: 0;
  visibility: hidden;

  // transition: opacity 0.25s, visibility 0s 0.25s;
}

.submit-mode-hint--visible {
  opacity: 0.7;
  visibility: visible;

  // transition: opacity 0.25s, visibility 0s;
}
