.post {
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #eee;
  line-height: 19px;

  a {
    color: #555599;
  }

  .post-userpic {
    float: left;
    border: 1px #ccc solid;
    @media (max-width: 767px) { margin: 0 10px 3px 0; }
  }

  .post-body {
    margin-left: 63px;
    @media (max-width: 767px) { margin-left: 0; }

    color: #666;
    font-size: 14px;
    line-height: 19px;

    .post-header {
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 2px;

      a {
        font-weight: bold;
        color: #000088;
      }

      .post-recipient {
        font-weight: 500;
      }
    }

    .post-text {
      margin-bottom: 8px;
      @media (max-width: 767px) { min-height: 31px; }

      color: #000;
      font-size: 16px;
      line-height: 21px;

      a {
        color: #000088;
      }
    }

    .post-footer {
      .post-timestamp {
        color: #666;
      }

      .post-like-throbber {
        margin-left: 5px;
      }

      .post-hide-throbber {
        margin-left: 5px;
      }
    }
  }
}

// "More" menu in post footer
// (it's just an override, default styles are in react-dd-menu/src/scss/react-dd-menu.scss)
.dd-menu .dd-menu-items .dd-menu-item {
  &:hover {
    background-color: #eee !important;
  }
  &.dd-menu-item-danger:hover {
    color: #300 !important;
    background-color: #fcc !important;
  }

  .dd-menu-item-link {
    padding: 6px 12px !important;
  }
  &:first-child .dd-menu-item-link {
    padding-top: 8px !important;
    padding-bottom: 5px !important;
  }
  &:last-child .dd-menu-item-link {
    padding-top: 5px !important;
    padding-bottom: 8px !important;
  }
}

// Used in both create-post and edit-post
.post-editor {
  position: relative; // necessary for proper width of dropzone inside this container

  // Clearfix (http://www.cssmojo.com/latest_new_clearfix_so_far/)
  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .post-textarea {
    @include editarea;
  }

  .post-edit-options {
    float: left;
    margin-bottom: 11px;

    .post-edit-attachments {
      cursor: pointer;

      &:hover span:last-child {
        text-decoration: underline;
      }
    }

    .post-edit-more-trigger {
      color: #333;
      margin-left: 15px;
    }

    .post-edit-more {
      margin-top: 10px;

      .post-edit-more-checkbox {
        margin: 0 5px 0 1px;
        vertical-align: middle;
      }
      .post-edit-more-labeltext {
        font-weight: normal;
        vertical-align: middle;
      }
    }
  }

  .post-edit-actions {
    text-align: right;
    margin-bottom: 8px;
  }

  .post-cancel {
    margin-right: 10px;
  }

  .post-edit-throbber {
    margin-right: 10px;
  }
}

.recently-hidden-post {
  padding-left: 63px;
}

.single-post {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 0 none;

  .post-body {
    margin-left: 88px;
    @media (max-width: 767px) { margin-left: 0; }

    .post-header {
      font-size: 21px;
      line-height: 26px;
    }

    .post-text {
      @media (max-width: 767px) { min-height: 50px; }

      font-size: 21px;
      line-height: 26px;
    }
  }
}

.timeline-post.direct-post {
  background-color: #eee;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 48 48'><path fill='%23ffffff' d='M40 8H8c-2.21 0-3.98 1.79-3.98 4L4 36c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4V12c0-2.21-1.79-4-4-4zm0 8L24 26 8 16v-4l16 10 16-10v4z'/></svg>");
  background-repeat: no-repeat;
  background-position: top right;
  background-position: top .5em right .5em;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 1px solid #fff;
  margin: -1px -1em 5px;
  border-radius: 5px;
  &.be-fe-folded-text-para:after {
    background: linear-gradient(to bottom, hsla(0, 0% , 93% , 0), hsla(0, 0% , 93% , .007));
  }
  &.be-fe-folded-text-read-more {
    background: linear-gradient(to right, hsla(0, 0% , 93% , 0), #eee 3.5em);
  }
  &.be-fe-folded-text:after {
    background: linear-gradient(to bottom, hsla(0, 0% , 93% , 0), hsla(0, 0% , 93% , .007));
  }
  &.fa-inverse {
    color: #eee;
  }
}

.single-post.direct-post {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 48 48'><path fill='%23eeeeee' d='M40 8H8c-2.21 0-3.98 1.79-3.98 4L4 36c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4V12c0-2.21-1.79-4-4-4zm0 8L24 26 8 16v-4l16 10 16-10v4z'/></svg>") no-repeat top right
}

.single-post-error {
  color: #FF5A5F;
}
