$post-line-height: 20px;

.post .expandable.folded {
  margin-bottom: 8px;
}

.post .expandable .expand-button {
  @media (min-width: 768px) { margin-left: 63px; }
}

.post {
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #eee;
  line-height: 19px;
  position: relative;

  a {
    color: #555599;
  }

  .read-more {
    color: #555599 !important;
    font-style: italic;
    white-space: nowrap;
  }

  .post-userpic {
    float: left;
    border: 1px #ccc solid;
    @media (max-width: 767px) { margin: 0 10px 3px 0; }
  }

  .post-header {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 2px;

    a {
      font-weight: bold;
      color: #000088;
    }

    .post-recipient {
      font-weight: 500;
    }
  }

  .post-body {
    margin-left: 63px;
    @media (max-width: 767px) { margin-left: 0; }

    color: #666;
    font-size: 14px;
    line-height: 19px;

    .post-text {
      margin-bottom: 8px;
      word-wrap: break-word;
      @media (max-width: 767px) { min-height: 31px; }

      color: #000;
      font-size: 16px;
      line-height: $post-line-height;

      &.modern {
        max-height: 5*$post-line-height;
        overflow-y: hidden;
        position: relative;
        display: block;

        .read-more {
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: white;
          padding: 0 4px 0 4px;
        }
      }

      a {
        color: #000088;
      }
    }

    .post-footer {
      .post-lock-icon {
        margin-right: 5px;
      }

      .post-protected-icon {
        $borderColor: #888;
        $borderWidth: 1px;
        $shadowRadius: 0;
        color: #fff;
        text-shadow:
            $borderWidth $borderWidth $shadowRadius $borderColor, (-$borderWidth) (-$borderWidth) $shadowRadius $borderColor,
            $borderWidth (-$borderWidth) $shadowRadius $borderColor, (-$borderWidth) $borderWidth $shadowRadius $borderColor;
      }

      .post-direct-icon {
        margin-right: 0.33em;
      }

      .post-timestamp {
        color: #666;
      }

      .post-like-throbber {
        margin-left: 5px;
      }

      .post-hide-throbber {
        margin-left: 5px;
      }

      .post-like-fail {
        margin-right: 0.2em;
        color: #ff8265;
        cursor: help;
      }
    }
  }
}

// paragraph breaks
.p-break {
  height: 0.35em;
}

// "More" menu in post footer
// (it's just an override, default styles are in react-dd-menu/src/scss/react-dd-menu.scss)
.dd-menu .dd-menu-items .dd-menu-item {
  &:hover {
    background-color: #eee !important;
  }
  &.dd-menu-item-danger:hover {
    color: #300 !important;
    background-color: #fcc !important;
  }

  .dd-menu-item-link {
    padding: 6px 12px !important;
  }
  &:first-child .dd-menu-item-link {
    padding-top: 8px !important;
    padding-bottom: 5px !important;
  }
  &:last-child .dd-menu-item-link {
    padding-top: 5px !important;
    padding-bottom: 8px !important;
  }
}

// Used in both create-post and edit-post
.post-editor {
  position: relative; // necessary for proper width of dropzone inside this container

  // Clearfix (http://www.cssmojo.com/latest_new_clearfix_so_far/)
  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .post-textarea {
    @include editarea;
  }

  .post-edit-options {
    float: left;
    margin-bottom: 11px;

    .post-edit-attachments {
      cursor: pointer;

      &:hover span:last-child {
        text-decoration: underline;
      }
    }

    .post-edit-more-trigger {
      color: #333;
      margin-left: 15px;
    }

    .post-edit-more {
      margin-top: 10px;

      .post-edit-more-checkbox {
        margin: 0 5px 0 1px;
        vertical-align: middle;
      }
      .post-edit-more-labeltext {
        font-weight: normal;
        vertical-align: middle;
      }
    }
  }

  .post-edit-actions {
    text-align: right;
    margin-bottom: 8px;
  }

  .post-cancel {
    margin-right: 10px;
  }

  .post-edit-throbber {
    margin-right: 10px;
  }
}

.recently-hidden-post {
  padding-left: 63px;
}

.single-post {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 0 none;

  .post-header {
    font-size: 21px;
    line-height: 26px;
  }

  .post-body {
    margin-left: 88px;
    @media (max-width: 767px) { margin-left: 0; }

    .post-text {
      @media (max-width: 767px) { min-height: 50px; }

      font-size: 21px;
      line-height: 26px;
    }
  }
}

.timeline-post.direct-post {
  background-color: #eee;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 48 48'><path fill='%23ffffff' d='M40 8H8c-2.21 0-3.98 1.79-3.98 4L4 36c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4V12c0-2.21-1.79-4-4-4zm0 8L24 26 8 16v-4l16 10 16-10v4z'/></svg>");
  background-repeat: no-repeat;
  background-position: top right;
  background-position: top .5em right .5em;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 1px solid #fff;
  margin: -1px -1em 5px;
  border-radius: 5px;
  &.be-fe-folded-text-para:after {
    background: linear-gradient(to bottom, hsla(0, 0% , 93% , 0), hsla(0, 0% , 93% , .007));
  }
  &.be-fe-folded-text-read-more {
    background: linear-gradient(to right, hsla(0, 0% , 93% , 0), #eee 3.5em);
  }
  &.be-fe-folded-text:after {
    background: linear-gradient(to bottom, hsla(0, 0% , 93% , 0), hsla(0, 0% , 93% , .007));
  }
  &.fa-inverse {
    color: #eee;
  }

  .expand-panel {
    background-color: #eee;
  }
}

.single-post.direct-post {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 48 48'><path fill='%23eeeeee' d='M40 8H8c-2.21 0-3.98 1.79-3.98 4L4 36c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4V12c0-2.21-1.79-4-4-4zm0 8L24 26 8 16v-4l16 10 16-10v4z'/></svg>") no-repeat top right
}

.post-via-sources {
  font-size: 12px;
  margin-left: 0.4em;
}

.post-via-more {
  font-weight: normal !important;
}

.search-highlight {
  background-color: #ffff80;
}

.link-preview {

  .link-preview-content {
    margin-bottom: 10px;
  }

  .folder-container {
    .content-wrapper {
      position: relative;
      overflow: hidden;

      &.folded::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40px;
        pointer-events:none;

        @mixin grad($color) {
          $gradArgs: rgba($color, 0) 0%, rgba($color, 0.2) 25%, rgba($color, 0.8) 75%, rgba($color, 1) 100%;
          background: -webkit-linear-gradient($gradArgs);
          background: -o-linear-gradient($gradArgs);
          background: linear-gradient($gradArgs);
        }

        @include grad(#fff);

        .timeline-post.direct-post & {
          @include grad(#eee);
        }
      }
    }

    .preview-expand {
      margin-top: 8px;
      & > .fa {
        opacity: 0.5;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .embedly-card {
    overflow: hidden;
  }

  .embedly-card-hug {
    margin: 0 !important;
  }

  .video-preview {
    max-width: 450px;

    &.load-error {
      display: none;
    }

    .static-preview {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%; // 16:9
      background-color: #999;
      background-position: center center;
      background-size: cover;
      cursor: pointer;

      .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 100px;
        color: #fff;
        opacity: 0.66;
        text-shadow: 0 0 10px rgba(0,0,0,0.3);
        transition: opacity 0.3s;
      }

      &:hover .play-icon {
        opacity: 1;
        transition: opacity 0.3s;
      }

      iframe,
      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: default;
      }
    }

    .info {
      margin-top: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .tweet-preview {
    max-width: 400px;
  }

  .instagram-preview {
    width: 400px;
    max-width: 100%;
  }

  .instagram-iframe {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #eee;
    box-sizing: content-box;
  }

  .google-docs-preview {
    width: 500px;
    max-width: 100%;
    position: relative;
  }

  .google-docs-label {
    position: absolute;
    top: 6px;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(160,160,160,0.3);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
   	background-image: url(https://www.google.com/drive/images/drive/logo-drive.png);

    &.document {
      background-size: 50%;
      background-image: url(https://ssl.gstatic.com/docs/doclist/images/mediatype/icon_1_document_x64.png)
    }
    &.spreadsheets {
      background-size: 50%;
      background-image: url(https://ssl.gstatic.com/docs/doclist/images/mediatype/icon_1_spreadsheet_x64.png)
    }
    &.presentation {
      background-size: 50%;
      background-image: url(https://ssl.gstatic.com/docs/doclist/images/mediatype/icon_1_presentation_x64.png)
    }
  }

  .google-docs-inner {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    background-repeat: no-repeat;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: content-box;

    &:hover {
      border-color: #999;
    }
  }
}
