.search-memo {
  @media (min-width: 992px) {
    margin-left: 10px;
  }
  background-color: #F2F2F2;
  padding: 15px 10px;
  .search-memo-header {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .search-operator {
    margin-bottom: 5px;
    .operator {
      display: inline-block;
      font-weight: bold;
      width: 70px;
    }
    .example {
      font-style: italic;
    }
  }
}