.single-post-container {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 0 none;
  line-height: 19px;

  .avatar {
    float: left;
    line-height: 0;
    @media (max-width: 767px) { margin: 0 10px 3px 0; }
  }

  .post-body {
    margin-left: 88px;
    @media (max-width: 767px) { margin-left: 0; }
    font-size: 13px;
    line-height: 16px;
    color: #666;

    .title {
      font-size: 21px;
      line-height: 26px;
      margin-bottom: 2px;
    }

    .body {
      margin-bottom: 8px;
      @media (max-width: 767px) { min-height: 49px; }

      .text {
        color: #000;
        font-size: 21px;
        line-height: 26px;

        a {
          color: #000088;
        }
      }
    }
  }
  &.direct-post {
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 48 48'><path fill='%23eeeeee' d='M40 8H8c-2.21 0-3.98 1.79-3.98 4L4 36c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4V12c0-2.21-1.79-4-4-4zm0 8L24 26 8 16v-4l16 10 16-10v4z'/></svg>") no-repeat top right
  }
}

.single-post-error {
  color: #FF5A5F;
}
