@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import './vazir.scss';

// Add Vazir font to the Bootstrap's defaults
body {
  font-family: Vazir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.windows-platform body {
  // Don't use Helvetica on Windows platform
  font-family: Vazir, Arial, sans-serif;
}

code,
kbd,
pre,
samp {
  font-family: Vazir, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
