/**
*
*	Name:			IRAN Sans-Serif Font
*	Version:		5.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 25, 2012
*	Updated on:		Sep 01, 2017
*	Website:		             http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت های ایران سن سریف یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRAN Sans-serif fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (N8ZE25)
--------------------------------------------------------------------------------------
*


**/


@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url('#{$IRANSans-font-path}eot/IRANSansWeb_Black.eot');
  src: url('#{$IRANSans-font-path}eot/IRANSansWeb_Black.eot');
  src: url('#{$IRANSans-font-path}eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('#{$IRANSans-font-path}woff2/IRANSansWeb_Black.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('#{$IRANSans-font-path}woff/IRANSansWeb_Black.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('#{$IRANSans-font-path}ttf/IRANSansWeb_Black.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('#{$IRANSans-font-path}eot/IRANSansWeb_Bold.eot');
  src: url('#{$IRANSans-font-path}eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('#{$IRANSans-font-path}woff2/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('#{$IRANSans-font-path}woff/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('#{$IRANSans-font-path}ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('#{$IRANSans-font-path}eot/IRANSansWeb_Medium.eot');
  src: url('#{$IRANSans-font-path}eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('#{$IRANSans-font-path}woff2/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('#{$IRANSans-font-path}woff/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('#{$IRANSans-font-path}ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('#{$IRANSans-font-path}eot/IRANSansWeb_Light.eot');
  src: url('#{$IRANSans-font-path}eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('#{$IRANSans-font-path}woff2/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('#{$IRANSans-font-path}woff/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('#{$IRANSans-font-path}ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('#{$IRANSans-font-path}eot/IRANSansWeb_UltraLight.eot');
  src: url('#{$IRANSans-font-path}eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('#{$IRANSans-font-path}woff2/IRANSansWeb_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('#{$IRANSans-font-path}woff/IRANSansWeb_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('#{$IRANSans-font-path}ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('#{$IRANSans-font-path}eot/IRANSansWeb.eot');
  src: url('#{$IRANSans-font-path}eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('#{$IRANSans-font-path}woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('#{$IRANSans-font-path}woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('#{$IRANSans-font-path}ttf/IRANSansWeb.ttf') format('truetype');
}
