@font-face {
  font-family: 'FreeFeed Flags';
  src: url('../../assets/fonts/FreeFeedFlags-v1.0.1.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0061-E007A, U+E007F;
}
