$vazirRoot: '../../node_modules/vazir-font/dist/UI';

@font-face {
  unicode-range: U+0600-06ff;
  font-family: Vazir;
  font-style: normal;
  font-weight: 900;
  src: url('#{$vazirRoot}/Vazir-Black-UI.eot');
  src: url('#{$vazirRoot}/Vazir-Black-UI.woff2') format('woff2'),
    url('#{$vazirRoot}/Vazir-Black-UI.woff') format('woff'),
    url('#{$vazirRoot}/Vazir-Black-UI.ttf') format('truetype');
}

@font-face {
  unicode-range: U+0600-06ff;
  font-family: Vazir;
  font-style: normal;
  font-weight: bold;
  src: url('#{$vazirRoot}/Vazir-Bold-UI.eot');
  src: url('#{$vazirRoot}/Vazir-Bold-UI.woff2') format('woff2'),
    url('#{$vazirRoot}/Vazir-Bold-UI.woff') format('woff'),
    url('#{$vazirRoot}/Vazir-Bold-UI.ttf') format('truetype');
}

@font-face {
  unicode-range: U+0600-06ff;
  font-family: Vazir;
  font-style: normal;
  font-weight: 500;
  src: url('#{$vazirRoot}/Vazir-Medium-UI.eot');
  src: url('#{$vazirRoot}/Vazir-Medium-UI.woff2') format('woff2'),
    url('#{$vazirRoot}/Vazir-Medium-UI.woff') format('woff'),
    url('#{$vazirRoot}/Vazir-Medium-UI.ttf') format('truetype');
}

@font-face {
  unicode-range: U+0600-06ff;
  font-family: Vazir;
  font-style: normal;
  font-weight: 300;
  src: url('#{$vazirRoot}/Vazir-Light-UI.eot');
  src: url('#{$vazirRoot}/Vazir-Light-UI.woff2') format('woff2'),
    url('#{$vazirRoot}/Vazir-Light-UI.woff') format('woff'),
    url('#{$vazirRoot}/Vazir-Light-UI.ttf') format('truetype');
}

@font-face {
  unicode-range: U+0600-06ff;
  font-family: Vazir;
  font-style: normal;
  font-weight: 200;
  src: url('#{$vazirRoot}/Vazir-Thin-UI.eot');
  src: url('#{$vazirRoot}/Vazir-Thin-UI.woff2') format('woff2'),
    url('#{$vazirRoot}/Vazir-Thin-UI.woff') format('woff'),
    url('#{$vazirRoot}/Vazir-Thin-UI.ttf') format('truetype');
}

@font-face {
  unicode-range: U+0600-06ff;
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url('#{$vazirRoot}/Vazir-Regular-UI.eot');
  src: url('#{$vazirRoot}/Vazir-Regular-UI.woff2') format('woff2'),
    url('#{$vazirRoot}/Vazir-Regular-UI.woff') format('woff'),
    url('#{$vazirRoot}/Vazir-Regular-UI.ttf') format('truetype');
}
