@import '../../styles/helvetica/dark-vars.scss';

.sortableHeader {
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background-color: #ffc;

    :global(.dark-theme) & {
      background-color: $bg-color-lighter;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    :global(.dark-theme) & {
      color: $text-color;
    }
  }
}

.caret {
  margin-right: -14px;
  margin-top: 1px;
}

.inactive {
  .caret {
    opacity: 0.33;
  }
}

.userpic {
  float: left;
}

.table {
  width: 100%;
  table-layout: fixed;
}

.mainColumn {
  width: 250px;
}

.subscribersColumn {
  width: 110px;
}

.postsColumn {
  width: 110px;
}

.varietyColumn {
  width: 100px;
}

.dateColumn {
  width: 110px;
}

.groupRow {
  td {
    padding: 0.66em 1em;
    border-bottom: 1px solid #ccc;
    text-align: right;

    &:first-child {
      padding-left: 0;
      padding-right: 0;
      text-align: left;
    }

    &:last-child {
      padding-right: 0;
    }

    :global(.dark-theme) & {
      border-color: $bg-color-lighter;
    }
  }
}

.headersRow {
  th {
    vertical-align: bottom;
    padding: 0.5em 1em;
    border-bottom: 2px solid #ccc;
    text-align: right;
    line-height: 1.2em;

    &:first-child {
      padding-left: 0;
      text-align: left;
    }

    :global(.dark-theme) & {
      border-bottom-color: $bg-color-lighter;
    }
  }
}

.groupInfo {
  margin-left: 60px;
}

.empty {
  margin: 10px 0;
}
