.codeBlock {
  display: inline;
  padding: unset;
  font-size: 90%;
  word-break: auto-phrase;
  white-space: pre-wrap;
  background-color: transparent;
  border: none;
  position: relative;
  margin: unset;

  :global(.dark-theme) & code {
    background-color: unset;
  }
}
