@import '../../styles/helvetica/dark-vars.scss';

@mixin list {
  position: absolute;
  top: 0.5em;
  left: 0;
  min-width: 10em;

  z-index: 7;

  list-style: none;
  padding: 0;
  margin: 0;
  color: #000;
  background-color: #fefefe;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.29);

  :global(.dark-theme) & {
    color: $text-color;
    background: $bg-color-lighter;
  }
}

.list {
  @include list;
}

.fixedList {
  @include list;

  position: fixed;
  top: auto;
  bottom: 0;

  @media (min-width: 451px) {
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: 450px) {
    left: 0;
    width: 100%;
    box-shadow: 0px 20px 40px 20px;
  }
}

.item {
  text-align: left;
}

.content {
  padding: 0.5em 0.66em;
  color: #666;
}

.link {
  display: block;
  text-decoration: none !important;
  color: inherit;
  padding: 0.5em 0.66em;

  &:hover {
    color: inherit !important;
    background-color: #eee;

    :global(.dark-theme) & {
      color: $text-color-lighter;
      background: $bg-color-lightest;
    }
  }

  :global(.dark-theme) & {
    color: inherit;
  }

  &.danger {
    color: #900;

    :global(.dark-theme) & {
      color: inherit;
    }

    &:hover {
      background-color: #fcc;

      :global(.dark-theme) & {
        background: $bg-highlight-color;
      }
    }
  }
}

.spacer {
  height: 1px;
  margin: 0.33em 0.66em;
  background-color: #ccc;

  :global(.dark-theme) & {
    background-color: $separator-color;
  }
}

.group {
  &:empty {
    display: none;
  }

  margin: 0.33em 0;

  &::before {
    content: '';

    display: block;
    height: 1px;
    margin: 0 0.66em 0.33em;
    background-color: #ccc;

    :global(.dark-theme) & {
      background-color: $separator-color;
    }
  }

  &:first-child::before {
    content: none;
  }
}
