@use '../../styles/helvetica/dark-vars.scss';

.clippedContent {
  overflow-y: hidden; /* fallback for old Safari */
  overflow-y: clip;
}

.button {
  color: #555599;

  :global(.dark-theme) & {
    color: dark-vars.$link-color-dim;
  }
}

.icon {
  opacity: 0.6;
}
