// Fallback/default colors
$frame-color: hsl(48, 93%, 52%);
$bg-color: #fff;

.widget {
  --frame-color: #{$frame-color};
  --bg-color: #{$bg-color};

  :global(.dark-theme) & {
    --frame-color: hsl(48, 100%, 38%);
    --bg-color: #333;
  }

  border: 2px solid var(--frame-color, $frame-color);
  border-radius: 5px;
  background: var(--bg-color, $bg-color);
  display: inline-block;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  max-width: 150px;
  min-width: 110px;
  position: relative;
  text-align: center;
  text-decoration: none !important;
}

.header {
  background-color: var(--frame-color, $frame-color);
  display: block;
  font-family: Ubuntu, Arial, sans-serif;
  font-style: italic;
  font-weight: 700;
  padding: 3px 7px 5px;
  color: #000;
}

.headerItem {
  vertical-align: middle;
}

.body {
  display: block;
  padding: 5px 15px 2px;
}

.arrow {
  color: var(--frame-color, $frame-color);
  position: absolute;
  left: -2px;
}

.sum {
  font-size: 125%;
}
