.queryInputGroup {
  margin-bottom: 0.5em;
}

.options {
  margin-bottom: 1em;

  label {
    font-weight: normal;

    &.inline {
      margin-right: 1em;
    }
  }

  :global(.input-group) {
    min-height: 2.5em;
  }
}
