@use '../../../styles/shared/mixins';
@use '../../../styles/helvetica/dark-vars.scss';

.box {
  --bg-color: #fff;

  :global(.dark-theme) & {
    --bg-color: #{dark-vars.$bg-color-lightest};
  }

  position: absolute;
  z-index: 2;
  bottom: calc(100% - var(--arr-top));
  left: mixins.rem(19px);
  right: mixins.rem(19px);
  padding: mixins.rem(6px) mixins.rem(12px);
  margin-bottom: mixins.rem(10px);
  border-radius: mixins.rem(4px);
  background-color: var(--bg-color);
  box-shadow:
    0 3px 9px 2px rgba(0, 0, 0, 0.25),
    0 -3px 9px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  overflow-wrap: break-word;

  &::after {
    $sz: mixins.rem(16px);

    content: '';
    position: absolute;

    // The #{} syntax is ugly but necessary to fight against Sass heuristics
    left: #{clamp }(mixins.rem(14px), var(--arr-left), #{'100% - '} mixins.rem(14px));
    top: 100%;
    width: $sz;
    height: $sz;
    background-color: var(--bg-color);
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: 3px 3px 4px -2px rgba(0, 0, 0, 0.25);
  }
}

.box--deep {
  transform: translateY(-10px);

  &::after {
    display: none;
  }
}

.hidden-text {
  font-style: italic;
  color: #999;

  .dark-theme & {
    color: dark-vars.$text-color-darker;
  }
}

.actions {
  margin-top: 0.66em;
  margin-bottom: 0.33em;
}

.error {
  color: #900;

  :global(.dark-theme) & {
    color: dark-vars.$link-color-dim;
  }
}

.loading {
  font-style: italic;
}
