@import '../../../../styles/helvetica/dark-vars.scss';

.profilePicture {
  cursor: pointer;
}

textarea.profileDescription {
  height: 8em;
  min-height: 3em;
  max-height: 16em;
}

textarea.hiddenUsers {
  height: 6em;
  min-height: 3em;
  max-height: 16em;
}
