on:
  push:
    branches:
      - stable
      - beta
    tags:
      - '**'

name: Build and push docker image

jobs:
  build:
    name: Build and push docker image
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Build and push docker image
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: freefeed/freefeed-react-client
        tag_with_ref: true

    - name: Deploy
      uses: satak/webrequest-action@v1.2.3
      with:
        url: "https://webhook.freefeed.net/react-client/$GITHUB_BASE_REF?version=$GITHUB_REF"
        method: GET
