on:
  push:
    branches:
      - stable

name: Build and push docker image

jobs:
  build:
    name: Build and push docker image
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Build and push docker image
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: freefeed/freefeed-react-client-stable
        tag_with_ref: true
        tags: latest
        build_args: NODE_CONFIG_ENV=stable
